*.sw*
.idea/*
.project
.classpath
.DS_Store

autogen/*
classes/*
dist/*
bin/*
playground/*

# -------
# Emacs
# -------

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
